* {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
}

body.dark {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  background-color: gray;
}

.left-side {
  display: flex;
  align-items: center;
}
.nav {
  width: 100px;
  height: 30px;
}

.profile {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  background-color: transparent;
}

img {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
  color: black;
  background-color: transparent;
}

body.dark a {
  color: white;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 15px;
  justify-content: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
}

#header-button:hover {
  background-color: gray;
}

.no-style-button {
  background-color: transparent;
  border: none;
}

#logo {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  list-style-type: none;
}

.fullSize {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 768px) {
  ul {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: end;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  ul {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 70px;
    justify-content: end;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
  }
}
