.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 90%;
  box-shadow: 3px 4px 0px 1px var(--box-shadow);
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.edit-btn{
  display: flex
  ;flex-grow: 1;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

#delete-button {
  background-color: red;
  color: white;

  &:hover {
    background-color: #ff1919a9;
  }
}

.account-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-div {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-self: stretch;
  margin: 0 10px;
  button {
    margin: 10px 0;
    flex: 1 1 0;
    align-self: stretch;
    width: 100%;
  }
}

#delete-button {
  background-color: red;
  color: white;
  &:hover {
    background-color: #ff1919a9;
  }
}

#logout-btn {
  color: white;
  display: flex;
  flex: 1 1 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.profile-section {
  min-width: fit-content;
  width: 80%;
  padding: 1rem 2rem;
  max-width: 600px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 4px 0px 1px var(--box-shadow);
  border: 2px solid black;

  .profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
  }

  h1 {
    text-align: center;
  }

  * {
    padding: 10px 10px;
    margin: 0 auto;
  }
}

.record-section {
  min-width: fit-content;
  width: 80%;
  /* padding: 1rem 2rem; */
  max-width: 600px;
  margin-top: 20px;
  background: white;
  box-shadow: 3px 4px 0px 1px var(--box-shadow);
  border: 2px solid black;
  text-align: center;
  overflow-x: hidden;
}

.record-section h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  .account-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .profile-section,
  .record-section {
    flex: 1;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
  }

  .record-section{padding: 1rem 2rem;}

  .scrollable-table {
    flex-grow: 1;
    height: 10px;
    overflow-y: auto;
  }
}