.title {
  font-size: 30px;
  margin-bottom: 40px;
}


.description {
  border: 2px solid;
  border-radius: 20px;
  width: 70%;
  padding: 10px;
}

@media (min-width: 768px) {
  .description {
    width: 60%;
  }
}
