.question {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.question_area {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  flex-direction: column;
  background-color: var(--header-background);
  margin: auto;
  padding-top: 2rem;
  width: 80%;
  height: 80%;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px var(--box-shadow);
  /* width: 90%; */
  /* max-width: 450px; */
}

#back-button {
  width: 93px;
  height: 55px;
  align-items: center;
  justify-content: center;
  /* border-radius: 12px; */
}

.back-button-a {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.quiz_title {
  text-transform: capitalize;
}

.start-now {
  width: 93px;
  height: 55px;
}

.question_title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.button_field {
  display: flex;
  flex: 1 1 0;
  max-height: 5rem;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 10px;
  align-items: center;
  /* width: 100%; */
  /* margin: 10px 100px; */
}

.describe_box {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  margin-top: 2rem;
}

.image-field {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

form{
  display: flex;
  flex-direction: column;
  height: 100%;
}
