.question {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 70px;
    flex-direction: column;
    text-align: center;
}

.question_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--header-background);
    padding: 230px 750px;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px var(--box-shadow);
    width: 90%;
    max-width: 450px;
  }

.question_title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.question_field{
    
}

.describe_field {
    font-weight: 600;
    margin: 5px 0;
}