.selection {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
  row-gap: 20px;
  margin-top: 30px;
  /* column-gap: 200px; */
}
.form-button {
  width: 150px;
  height: 100px;
  padding: 50px;
  margin: 20px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.6rem;
  border: 2px solid;
  cursor: pointer;
}

.selection > a {
  width: 150px;
  height: 100px;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.6rem;
  cursor: pointer;
}

.confirmation-button {
  padding: 10px 20px;
  width: fit-content;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
}

.subject-button {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 10px 20px;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  width: 100vw;
  align-items: end;
  justify-content: center;
}

#mini-text {
  position: sticky;
}

#important-text {
  font-size: 3rem;
  color: var(--box-shadow);
}

#button-div {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .selection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    flex: 1 1 0;
    flex-wrap: wrap;
  }

  .form-button {
    display: flex;
    flex: 1 1 0;
    margin: 20px;
    min-width: calc(100vw /4);
  }

  .subject-button {
    width: 180px;
    flex: 1 1 0;
  }
  .selection > button {
    width: 200px;
  }
  .selection > a {
    width: 200px;
  }
}

/* Color */

.confirmation-button {
  background-color: var(--background);
  transition: background-color 0.3s ease-in-out;
}

.confirmation-button:hover {
  background-color: var(--accent-hover);
}

.selected {
  border: 2px solid gray;
  background-color: var(--selected);
}

.selection-body {
  background-color: var(--background);
}

.subject-button {
  background-color: var(--background);
}

#start-now {
  background-color: lightgreen;
  border-color: green;
  color: var(--text);
  transition: background-color 0.3s ease;
}
#start-now:hover {
  background-color: rgba(2, 160, 2, 0.858);
  color: var(--dark-text);
  border-color: rgb(5, 171, 5);
}
