@import url("https://www.w3schools.com/w3css/4/w3.css");

:root {
  /* light */
  --text: #050f23;
  --background: #f7f9fe;
  --header-background: #efebeb;
  --primary: #2c65e2;
  --secondary: #ee9185;
  --accent: #e7dd52;
  --box-shadow: #e99f4c;
  --secondary-accent: #f8f8f8;
  /* dark */
  --dark-text: #dbe6fa;
  --dark-background: #010309;
  --dark-header-background: #252525;
  --dark-primary: #1d56d3;
  --dark-secondary: #791d11;
  --dark-accent: #afa518;
  /* universal */
  --hover: rgba(0, 0, 0);
  --hover-text: black;
  --dark-hover: rgba(255, 255, 255);
  --dark-hover-text: white;

  --selected:#ffd1b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s, color 0.3s;
}
html.dark-mode body {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

/* init the font size */
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}
p {
  font-size: 1.2rem;
}

.body-without-header {
  margin-top: 0px;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 20px;
  border: 1px solid;
  background-color: var(--secondary-accent);
  border-color: var(--dark-accent);
  color: var(--text);
  border: 2px solid black;
  cursor: pointer;
}

.primary-button {
  background-color: var(--accent);
  border-color: var(--dark-accent);
  color: var(--text);
  border: 2px solid black;
  box-shadow: 2px 2px 2px var(--box-shadow);
  cursor: pointer;
}
.secondary-button {
  box-shadow: 2px 2px 2px var(--box-shadow);
}
a {
  text-decoration: none;
  background-color: transparent;
  color: var(--text);
}

.link-as-button {
  padding: 5px 10px;
  color: var(--text);
  &:hover {
    color: var(--accent);
  }
}

html.dark-mode a {
  color: var(--dark-text);
}
