@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* light */
  --text: #050f23;
  --background: rgb(247, 249, 254);
  --header-background: #f5f5f5;
  --primary: #2c65e2;
  --secondary: #ee9185;
  --accent: #e7dd52;
  --accent-hover: #fff897;
  --box-shadow-dark: black;
  --box-shadow-dark-hover: black;
  --box-shadow: #e99f4c;
  --box-shadow-hover: #f09225ea;
  --secondary-accent: #f8f8f8;
  /* dark */
  --dark-text: #dbe6fa;
  --dark-background: #010309;
  --dark-header-background: #252525;
  --dark-primary: #1d56d3;
  --dark-secondary: #791d11;
  --dark-accent: #afa518;
  /* universal */
  --hover: rgba(0, 0, 0);
  --hover-text: black;
  --dark-hover: rgba(255, 255, 255);
  --dark-hover-text: white;

  --selected: #ffd1b7;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100vw;
}

body {
  font-family: "Open Sans", serif;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s, color 0.3s;
}

html.dark-mode body {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

/* init the font size */
.super-large-title {
  font-size: 4rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

.body-without-header {
  margin-top: 0px;
}

button {
  border-radius: 10px;
  margin: 10px 20px;
  border: 1px solid;
  background-color: var(--secondary-accent);

  border-color: var(--dark-accent);
  color: var(--text);
  border: 2px solid black;
  cursor: pointer;
}

.primary-button {
  background-color: var(--accent);
  border-color: var(--dark-accent);
  color: var(--text);
  border: 2px solid black;
  box-shadow: 3px 4px 0px 1px var(--box-shadow);
  cursor: pointer;
}

i.zmdi {
  font-size: 1.2rem;
}

.secondary-button {
  box-shadow: 3px 4px 0px 1px var(--box-shadow);
  border: 2px solid black;
}

.secondary-button:hover {
  background-color: var(--accent-hover);
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--text);
}

.link-as-button {
  padding: 5px 10px;
  color: var(--text);

  &:hover {
    color: var(--accent);
  }
}

button {
  box-shadow: 3px 4px 0px 1px var(--box-shadow-dark);
}

button:hover {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px var(--box-shadow-dark);
}

@media (min-width: 768px) {
  .super-large-title {
    font-size: 5rem;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}
